# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Kata FizzBuzz.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Workshop\Kata FizzBuzz\.idea\.idea.Kata FizzBuzz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
